<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.spring.model.mapper.FinacialMapper">
    <resultMap id="finacialResultMap" type="com.kh.spring.model.vo.Finacial">
        <result column="FINACIAL_ID" property="finacialId"/>
        <result column="CONTRACT_ID" property="contractId"/>
        <result column="MEMBER_ID" property="memberId"/>
        <result column="FINACIAL_NAME" property="finacialName"/>
        <result column="FINACIAL_AMOUNT" property="finacialAmount"/>
        <result column="FINACIAL_DATE" property="finacialDate"/>
        <result column="FINACIAL_STATUS" property="finacialStatus"/>
        <result column="CATEGORY" property="category"/>
        <result column="FINACIAL_TYPE" property="finacialType"/>
    </resultMap>

    <select id="selectAllFinacial" resultType="Finacial">
        SELECT *
        FROM FINACIAL_MANAGEMENT
    </select>

    <select id="calculateNetProfit" resultType="int">
        SELECT
          COALESCE(SUM(CASE WHEN FINACIAL_TYPE = '수익' THEN FINACIAL_AMOUNT ELSE 0 END), 0) -
          COALESCE(SUM(CASE WHEN FINACIAL_TYPE = '지출' THEN FINACIAL_AMOUNT ELSE 0 END), 0)
        FROM
          FINACIAL_MANAGEMENT
        WHERE
          FINACIAL_STATUS = 'Y'
    </select>

    <select id="calculateProfit" resultType="int">

        SELECT
            COALESCE(SUM(CASE WHEN FINACIAL_TYPE = '수익' THEN FINACIAL_AMOUNT ELSE 0 END), 0)
        FROM
            FINACIAL_MANAGEMENT
        WHERE
            FINACIAL_STATUS = 'Y'

    </select>


    <select id="calculateExpense" resultType="int">

        SELECT
            COALESCE(SUM(CASE WHEN FINACIAL_TYPE = '지출' THEN FINACIAL_AMOUNT ELSE 0 END), 0)
        FROM
            FINACIAL_MANAGEMENT
        WHERE
            FINACIAL_STATUS = 'Y'

    </select>

    <insert id="insertFinacial" parameterType="Finacial">
        INSERT INTO FINACIAL_MANAGEMENT (
            FINACIAL_ID,
            CONTRACT_ID,  MEMBER_ID,
            FINACIAL_NAME,
            FINACIAL_AMOUNT,
            FINACIAL_DATE,
            FINACIAL_STATUS,
            CATEGORY,
            FINACIAL_TYPE
        ) VALUES (
            SEQ_FID.NEXTVAL,
            #{contractId},  #{memberId},
            #{finacialName},
            #{finacialAmount},
            #{finacialDate},
            'Y',
            #{category},
            #{finacialType}
        )

    </insert>
</mapper>
