.enddate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.detail_box{
    display: flex;
    flex-direction: row;
    border : 1px solid rgba(0,0,0,0.5);
    border-radius: 14px;
    flex:1; 
}
.task_title{
    padding-left:10px;
}