.team_content{
    flex:1;
}
.team_box{
    width: 100%;
    border: 1px solid black;
    border-radius: 16px;
}
.box_title{
    height: 20px;
    margin: 10px;
}
tbody{
    width:100%;
    
}
th{
    padding: 12px 16px;
    text-align: left;
    font-weight: bold;
    color: #555;
    background-color: #F9FAFB;
    border-bottom: 1px solid #E5E7EB;
}
td{
    padding: 16px;
    border-bottom: 1px solid #E5E7EB;
    vertical-align: middle; /* 셀 내용 수직 중앙 정렬 */
}
.team_account{
    display: flex;
    flex-direction: row;
    align-items: center; /* 이미지와 텍스트를 수직 중앙 정렬 */
    gap: 12px;
}
.team_account_img {
    /* 실제 이미지 크기에 맞게 조절하세요 */
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ccc; /* 임시 배경색 */
    text-align: center;
    line-height: 40px;
    font-size: 12px;
}
.team_menu{
    display: flex;
    flex-direction: row;
   justify-content: space-between;
}
.team_title_left{
    padding:10px;
}
.tab_list{
    width : 200px;    
    display: flex;
    flex-direction: row;
    background-color: #ECECF0;
    border-radius: 14px;
    gap:12px;
    font-size: 14;
    align-items: center;
    justify-items: center;
}
.team_border{
    border:1px solid black;
    border-radius: 16px;
}
.team_all{
    padding:10px;
}
.search{
    width:100%;
    margin-top: 30px;
    margin-bottom: 20px;
    border:1px solid black;
    border-radius: 16px;
}
.search > input{
    width:100%;
    border-style: none;
    border-radius: 16px;
    padding: 10px;
}
.footer{
    border: 1px solid black;
}
